{% extends 'base.html.twig' %}

{% block title %}Blog List{% endblock %}

{% block body %}
<h1>Blog List</h1>

<a href="{{ path('blog_new') }}" class="btn btn-success mb-3">Create Blog</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.author }}</td>
                <td>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('blog_edit', {id: blog.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{ path('blog_delete', {id: blog.id}) }}" 
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure you want to delete this blog?');">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No blogs found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
